{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}


<div class="section">
    <h2>All Shares</h2>
    <table>
        <tbody>
            <tr>
                <th>Company</th>
                {% for symbol in symbols %}
                    <td>{{ symbol }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Shares</th>
                {% for shir in shirs %}
                    <td>{{ shir }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Price</th>
                {% for pruce in pruces %}
                    <td>{{ pruce | usd }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Total</th>
                {% for amunt in amunts %}
                    <td>{{ amunt | usd }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

<div class="section">
    <h2>Account value</h2>
    <table>
        <tbody>
            <tr>
                <th>Current Cash</th>
                    <td>{{ cash | usd }}</td>
            </tr>
            <tr>
                <th>Grand Total</th>
                    <td>{{ grand | usd }}</td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}
